Repository database-mesh/pisanix, pull requests merged in 2022-12, with the labels that each got.

#390 chore(k8s): update image version and charts version
  charts/pisa-controller/Chart.yaml
  charts/pisa-controller/values.yaml
Labels: size/XS, app:pisa-controller

#393 doc: update readme
  README.md
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/http_test.go
  static/dbmesh-layer.png
Labels: type:documentation, size/L

#394 refactor(runtime): refactor get_avg meta, and refactor handle_avg in executor
  pisa-proxy/protocol/mysql/src/macros.rs
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/Cargo.toml
  pisa-proxy/runtime/mysql/src/server/executor.rs
Labels: size/XL

#395 refactor: update manager layout
  pisa-controller/cmd/pisa-controller/controller-manager/manager.go
  pisa-controller/cmd/pisa-controller/main.go
  pisa-controller/go.mod
  pisa-controller/go.sum
Labels: size/L, type:refactor, app:pisa-controller, in:runtime

#397 feat: add VirtualDatabase and RDS finalizer
  charts/pisa-controller/crds/core.database-mesh.io_databasechaos.yaml
  charts/pisa-controller/crds/core.database-mesh.io_databaseclasses.yaml
  charts/pisa-controller/crds/core.database-mesh.io_databaseendpoints.yaml
  charts/pisa-controller/crds/core.database-mesh.io_datashards.yaml
  charts/pisa-controller/crds/core.database-mesh.io_qosclaims.yaml
  charts/pisa-controller/crds/core.database-mesh.io_trafficstrategies.yaml
  charts/pisa-controller/crds/core.database-mesh.io_virtualdatabases.yaml
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/controllers/virtualdatabase.go
Labels: type:enhancement, size/L, app:pisa-controller, in:crd

#398 feat: introduce DatabaseChaos
  charts/pisa-controller/crds/core.database-mesh.io_databaseendpoints.yaml
  pisa-controller/cmd/pisa-controller/controller-manager/manager.go
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/controllers/database_chaos.go
  pisa-controller/pkg/controllers/virtualdatabase.go
Labels: type:enhancement, size/L, app:pisa-controller, in:runtime, in:crd
