Repository database-mesh/pisanix, pull requests merged in 2022-09, with the labels that each got.

#285 fix(pisa-proxy, parser): fix format TableIdent and InExprs
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
Labels: size/S, pisa-proxy, parser

#286 fix(pisa-proxy,protocol): fix encode fieldlist response packet error
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: size/XS, pisa-proxy, runtime

#287 fix(docs): add missing metrics SQL_UNDER_PROCESSING
  docs/docs/Features/observability.md
Labels: documentation, size/XS

#288 docs(example): update docs of quick start in kubernetes about Microservices doc
  docs/docs/UseCases/kubernetes.md
  example/microservices-demo/databaseendpoint.yaml
  example/microservices-demo/trafficstrategy.yaml
  example/microservices-demo/virtualdatabase.yaml
Labels: size/L

#289 Feat(pisa-proxy, protocol): Remove `Row` trait and unit tests that are no longer required
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/macros.rs
  pisa-proxy/protocol/mysql/src/row.rs
Labels: size/L, pisa-proxy, protocol

#290 Feat(pisa-proxy, protocol): Split ResultOkInfo to common_packet
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/common_packet.rs
  pisa-proxy/protocol/mysql/src/lib.rs
  pisa-proxy/protocol/mysql/src/row.rs
Labels: size/XL, pisa-proxy, protocol

#291 fix(pisa-proxy, parser): fix `PARTITION` format incorrect for `Insert` stmt
  pisa-proxy/parser/mysql/src/ast/dml.rs
Labels: bug, size/S, pisa-proxy, parser

#292 Feat(pisa-proxy, parser): change method trans return type to &mut self for Transformer trait
  pisa-proxy/parser/mysql/src/ast/api.rs
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
Labels: size/S, pisa-proxy, protocol

#293 Optimize(pisa-proxy, parser): Reduce clone method calls
  pisa-proxy/parser/mysql/build.rs
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
Labels: size/XL, pisa-proxy, parser

#294 chore(webhook): remove commented codes
  pisa-controller/pkg/webhook/types.go
Labels: size/XS, pisa-controller

#295 chore(ci): add cache for kaniko
  .github/workflows/build.yml
  .github/workflows/integration.yml
Labels: size/S, ci

#296 doc: update README with current status
  README.md
Labels: documentation, size/S

#297 fix(pisa-proxy, parser): Fix parse failed which contains "a.*" in sql statement
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/lex.rs
  pisa-proxy/parser/mysql/src/lib.rs
Labels: bug, size/L, pisa-proxy, parser

#298 feat(pisa-proxy, parser): add LimitOption struct for get Span info
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/grammar.y
Labels: enhancement, size/M, pisa-proxy, parser

#299 feat(pisa-proxy, parser): Optimize Transformer trait, add `complete`
  pisa-proxy/parser/mysql/src/ast/api.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
Labels: enhancement, size/M, pisa-proxy, parser

#300 feat(pisa-proxy, parser): add ast struct for aggregate function
  pisa-proxy/parser/mysql/src/ast/api.rs
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/grammar.y
Labels: enhancement, size/XL, pisa-proxy, parser

#301 Fix(pisa-proxy, parser): Fix generate AST struct incorrect which cont…
  pisa-proxy/parser/mysql/src/lex.rs
Labels: bug, size/S, pisa-proxy, parser

#303 docs: update Readme with new introduction
  README.md
  static/dbmesh-layer.jpg
Labels: documentation, size/M

#305 feat(sharding): add table strategy sql rewrite
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/L, sharding

#306 chore(sharding): update sharding return value
  pisa-proxy/Cargo.lock
  pisa-proxy/proxy/strategy/src/readwritesplitting/rule_match.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/static_rw.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/M, sharding

#308 Feat(pisa-proxy, sharding): add insert statement rewrite
  pisa-proxy/proxy/strategy/src/readwritesplitting/rule_match.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/static_rw.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/XL, pisa-proxy, sharding

#309 feat(pisa-proxy): add sharding-column to `RewriteOutput`
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/M, pisa-proxy, sharding

#310 feat(pisa-proxy, sharding): Add merge sort by sharding column
  pisa-proxy/protocol/mysql/src/lib.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/Cargo.toml
  pisa-proxy/runtime/mysql/src/server/executor.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/server/stmt_cache.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, pisa-proxy, sharding

#311 Optimize(pisa-proxy, sharding): optimize sharding_rewrite
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/L, pisa-proxy, sharding

#312 fix(pisa-proxy, sharding): add generic_meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/generic_meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/L, pisa-proxy, sharding

#314 fix(pisa-proxy, shardind): fix run delete and update statement faild in sharding mode
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/M, pisa-proxy, sharding

#313 feat(sharding): add avg sql rewrite
  pisa-proxy/Cargo.lock
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/L, sharding

#315 feat(pisa-proxy, sharding): support use db, optimize MergeStream
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/proxy/strategy/src/rewrite.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, pisa-proxy, sharding

#318 docs: update kubernetes demo instruction
  docs/docs/UseCases/kubernetes.md
Labels: documentation, size/XS

#319 fix(proxy): update default value of admin host, port and loglevel to empty string
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/config/src/env_const.rs
Labels: bug, size/XS, pisa-proxy, config

#316 feat(sharding): add order by & group by sql rewrite
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/rewrite_const.rs
Labels: size/L, sharding

#320 fix(proxy): checking config.proxy before build servers
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/cmd/pisa/src/main.rs
Labels: size/M, pisa-proxy

#321 chore(sharding): optimize sharding sort
  pisa-proxy/runtime/mysql/src/server/executor.rs
Labels: size/S, sharding

#322 Fix(pisa-proxy, sharding): fix prepare execute failed in the sharding mode
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/server/stmt_cache.rs
Labels: size/L, pisa-proxy, sharding

#323 chore(sharding): optimize order group by sql rewrite
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/M, sharding

#324 feat(sharding): add sharding order group change meta
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/S, sharding

#325 chore(sharding): add rewrite_outputs into ReqContext
  pisa-proxy/Cargo.lock
  pisa-proxy/proxy/strategy/Cargo.toml
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: size/M, sharding

#326 feat(controller): add nodegroup builder and shard controller
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/coverage.txt
  pisa-controller/pkg/proxy/types.go
Labels: size/XL, pisa-controller, config, unittest

#327 chore(test): add unit test case
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/http_test.go
Labels: size/L, pisa-controller, unittest

#329 fix(builder): make datashard and trafficstrategy seperate
  pisa-controller/pkg/proxy/builder.go
Labels: size/S, pisa-controller

#328 feat(docs): add sharding docs
  docs/docs/Features/sharding.md
  docs/docs/UseCases/standalone.md
  pisa-proxy/proxy/strategy/src/config.rs
Labels: size/L, sharding

#330 chore(sharding): rename nodegroup
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/server/src/server.rs
Labels: size/XS, sharding

#331 fix(controller): fix DataShard filter and build
  charts/pisa-controller/crds/core.database-mesh.io_datashards.yaml
  charts/pisa-controller/crds/core.database-mesh.io_virtualdatabases.yaml
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/kubernetes/resources.go
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/http.go
Labels: size/L, pisa-controller, config, crd

#333 chore(deploy): update default version to v0.3.0
  .gitignore
  charts/pisa-controller/values.yaml
  docs/docs/UseCases/kubernetes.md
Labels: documentation, size/S, deploy

#332 fix(controller): fix unit test
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/http_test.go
Labels: size/S, pisa-controller, unittest

#334 chore(docs): add sharding docs
  docs/docs/Features/sharding.md
  docs/docs/UseCases/kubernetes.md
Labels: size/M, sharding

#335 fix(pisa-proxy, sharding): fix sql execute failed when in sharding and rw mode
  pisa-proxy/proxy/strategy/src/readwritesplitting/dynamic_rw.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/rule_match.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/static_rw.rs
  pisa-proxy/proxy/strategy/src/route.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, pisa-proxy, sharding

#336 chore(docs): update docs
  docs/docs/Features/sharding.md
Labels: size/XS, sharding

#339 fix(config): remove omitempty tag to NodeGroup.member
  charts/pisa-controller/crds/core.database-mesh.io_datashards.yaml
  charts/pisa-controller/crds/core.database-mesh.io_virtualdatabases.yaml
  example/sharding/app.yml
  example/sharding/databaseendpoint.yml
  example/sharding/datashard.yml
  example/sharding/mysql.yml
  example/sharding/run.sh
  example/sharding/trafficstrategy.yml
  example/sharding/virtualdatabase.yml
  pisa-controller/pkg/proxy/builder.go
  pisa-proxy/runtime/mysql/src/mysql.rs
Labels: size/L, pisa-controller, config

#341 chore(docs): update sharding docs
  docs/docs/Features/sharding.md
  docs/docs/UseCases/kubernetes.md
Labels: size/M, sharding

#342 chore(example): remove run.sh
  example/sharding/run.sh
Labels: documentation, size/M

#343 chore(sharding): optimize order by sql rewrite
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/rewrite_const.rs
Labels: size/L, pisa-proxy, sharding

#344 chore(sharding): add DeleteStmt
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
Labels: size/XS, pisa-proxy, sharding

#345 feat(sharding): update database strategy
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
Labels: size/S, pisa-proxy, sharding

#346 Feat(pisa-proxy, parser): Add check is_skip for visit Items
  pisa-proxy/parser/mysql/src/ast/dml.rs
Labels: size/S, pisa-proxy, parser

#347 Fix(pisa-proxy, parse): split 'and' token to `Bit And` and `Logic And`, etc .
  pisa-proxy/parser/mysql/build.rs
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/lex.rs
Labels: bug, size/L, pisa-proxy, parser
