Repository database-mesh/pisanix, pull requests merged in 2022-11, with the labels that each got.

#375 fix(pisa-controller): fix panic when TableStrategy is nil
  pisa-controller/pkg/proxy/builder.go
Labels: type:bug, size/S, app:pisa-controller

#376 chore(doc, chart): add traffic-qos.md, update chart version to v0.3.1
  charts/pisa-controller/Chart.yaml
  charts/pisa-controller/values.yaml
  docs/docs/Features/traffic-qos.md
  example/sharding/database-strategy/app.yml
  example/sharding/database-strategy/databaseendpoint1.yml
  example/sharding/database-strategy/databaseendpoint2.yml
  example/sharding/database-strategy/datashard.yml
  example/sharding/database-strategy/mysql1.yml
  example/sharding/database-strategy/mysql2.yml
  example/sharding/database-strategy/trafficstrategy.yml
  example/sharding/database-strategy/virtualdatabase.yml
  example/sharding/table-strategy/app.yml
  example/sharding/table-strategy/databaseendpoint.yml
  example/sharding/table-strategy/datashard.yml
  example/sharding/table-strategy/mysql.yml
  example/sharding/table-strategy/trafficstrategy.yml
  example/sharding/table-strategy/virtualdatabase.yml
Labels: size/XL

#377 doc: update README current status
  README.md
Labels: type:documentation, size/XS

#382 feat(pisa-controller): add database table strategy config
  pisa-controller/pkg/proxy/builder.go
  pisa-daemon/Cargo.lock
  pisa-proxy/Cargo.lock
  pisa-proxy/proxy/strategy/src/sharding_rewrite/generic_meta.rs
Labels: size/S, app:pisa-controller

#384 fix(sharding): fix database table strategy rewrite error
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: type:bug, size/M, app:pisa-proxy

#386 fix(sharding): fix min max error
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
Labels: size/S, app:pisa-proxy

#387 [Optimize] optimize sharding_rewrite mod
  .gitignore
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/protocol/mysql/src/column.rs
  pisa-proxy/proxy/endpoint/src/endpoint.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/server/stmt_cache.rs
  pisa-proxy/runtime/mysql/src/server/util.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/XXL, app:pisa-proxy, in:runtime, in:parser, in:sharding

#389 chore(sharding): fix sum prepare error
  pisa-proxy/runtime/mysql/src/server/executor.rs
Labels: size/XS, app:pisa-proxy
