Repository database-mesh/pisanix, pull requests merged in 2022-10, with the labels that each got.

#348 chore(parser): unify base operation definition with upper case
  pisa-controller/pkg/proxy/builder_test.go
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/grammar.y
Labels: size/L, pisa-proxy, parser

#349 feat(controller): update daemon config definition
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/kubernetes/resources.go
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/http.go
  pisa-controller/pkg/proxy/http_test.go
  pisa-controller/pkg/proxy/server.go
Labels: size/L, pisa-controller, api, crd

#350 fix(test): fix actual and expect in proxy config build unit test
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/http_test.go
Labels: size/L, unittest

#351 feat(pisa-daemon, config): add `Endpoint` field to `Service`
  pisa-daemon/app/config/src/config.rs
  pisa-daemon/app/traffic_qos/src/tc.rs
  pisa-daemon/tc/src/tc.rs
Labels: size/M, in:config, app:pisa-daemon

#352 feat(sharding): support database strategy
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/M, app:pisa-proxy, in:sharding

#302 Feat(parser): add create table sql parser.
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: type:enhancement, size/XXL, app:pisa-proxy, in:parser

#353 feat(sharding): add sql rewrite in database strategy
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/L, app:pisa-proxy, in:sharding

#356 feat(controller): add AppBuilder and ServiceBuilder for PisaDaemonConfig
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/kubernetes/resources.go
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/http.go
Labels: type:documentation, size/XL, app:pisa-controller, in:http, in:config, in:api, in:crd

#355 feat(pisa-proxy, sharding): add get min, max function in meta
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/XL, app:pisa-proxy, in:sharding

#359 feat(pisa-proxy, sharding): add processing min, max, avg for merge
  pisa-proxy/protocol/mysql/src/column.rs
  pisa-proxy/protocol/mysql/src/macros.rs
  pisa-proxy/protocol/mysql/src/mysql_const.rs
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/protocol/mysql/src/value.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/meta.rs
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
Labels: size/XL, app:pisa-proxy, in:sharding

#358 Feat(parser): add create table sql parser test case.
  pisa-proxy/parser/mysql/build.rs
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/L

#357 feat(doc): update database strategy docs
  docs/docs/Features/sharding.md
  docs/docs/UseCases/standalone.md
Labels: type:documentation, size/L, app:pisa-proxy

#360 feat(pisa-daemon): add PisaDaemonConfigBuilder
  pisa-daemon/Cargo.lock
  pisa-daemon/app/config/Cargo.toml
  pisa-daemon/app/config/src/config.rs
  pisa-daemon/app/config/src/env_const.rs
  pisa-daemon/app/config/src/lib.rs
Labels: type:enhancement, size/L, in:http, in:config, app:pisa-daemon

#361 doc: update readme with latest feature status
  README.md
Labels: type:documentation, size/S

#362 feat(sharding): add crd docs
  docs/docs/Features/sharding.md
Labels: type:documentation, size/S

#363 feat(pisa-daemon): pisa-daemon add main function
  pisa-daemon/Cargo.lock
  pisa-daemon/Cargo.toml
  pisa-daemon/app/config/Cargo.toml
  pisa-daemon/app/config/src/config.rs
  pisa-daemon/app/traffic_qos/src/lib.rs
  pisa-daemon/app/traffic_qos/src/tc.rs
  pisa-daemon/bpf/Cargo.toml
  pisa-daemon/bpf/src/load.rs
  pisa-daemon/cmd/Cargo.toml
  pisa-daemon/cmd/src/main.rs
  pisa-daemon/tc/src/tc.rs
Labels: size/L, app:pisa-daemon

#364 fix(pisa-daemon): fix byte order in bpf
  pisa-daemon/bpf/tc/app.c
Labels: size/XS, in:runtime, app:pisa-daemon

#365 Feat(parser): add create resource group sql parser.
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/L, app:pisa-proxy, in:parser

#366 Fix(pisa-daemon): fix incorrect classid in tc command
  pisa-daemon/Cargo.toml
  pisa-daemon/app/config/Cargo.toml
  pisa-daemon/app/config/src/config.rs
  pisa-daemon/app/traffic_qos/src/lib.rs
  pisa-daemon/app/traffic_qos/src/qos.rs
  pisa-daemon/bpf/Cargo.toml
  pisa-daemon/bpf/src/load.rs
  pisa-daemon/bpf/tc/app.c
  pisa-daemon/cmd/Cargo.toml
  pisa-daemon/cmd/src/main.rs
  pisa-daemon/example/config.toml
  pisa-daemon/tc/src/tc.rs
Labels: size/L, app:pisa-daemon, in:ebpf

#369 fix(pisa-proxy, parser): fix parse MAXVALUE failed
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/lex.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/S, app:pisa-proxy, in:parser

#370 Optimize(pisa-proxy, rewrite): optimize sharding_rewrite to reduce code.
  pisa-proxy/proxy/strategy/src/sharding_rewrite/mod.rs
Labels: size/L, app:pisa-proxy, in:strategy, in:sharding

#373 Feat(parser): add create role sql parser.
  pisa-proxy/parser/mysql/src/ast/dal.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: type:enhancement, size/S, app:pisa-proxy, in:parser

#374 Feat(parser): add create srs sql parser.
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: type:enhancement, size/L, app:pisa-proxy, in:parser
