Repository database-mesh/pisanix, pull requests merged in 2022-06, with the labels that each got.

#39 refactor(configs): unified configs bewteen controller and proxy
  .github/workflows/go.yml
  pisa-controller/pkg/kubernetes/types.go
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/proxy/types.go
  pisa-proxy/examples/example-config.toml
  pisa-proxy/proxy/src/proxy.rs
Labels: size/M, refactor, pisa-proxy, pisa-controller

#40 fix(configs): fix port format and json definition of pisa-controller
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/proxy/types.go
Labels: bug, size/XS, pisa-controller

#41 UPDATE(CRD): Update CRD to fit new struct
  charts/pisa-controller/crds/core.database-mesh.io_databaseendpoints.yaml
  charts/pisa-controller/crds/core.database-mesh.io_virtualdatabases.yaml
  pisa-proxy/hack/Dockerfile
Labels: size/S, pisa-controller

#44 fix(configs): fix simple loadbalance json tag of nodes of pisa-controller
  pisa-controller/pkg/proxy/types.go
Labels: bug, size/XS, pisa-proxy

#43 Fix(sample): fix sample to fit new CRD ,Add(configs): add default port
  example/config-sample.yaml
  pisa-controller/pkg/proxy/config.go
Labels: size/S, pisa-controller

#42 fix(runtime): fix handle init db reture value
  pisa-proxy/examples/example-config.toml
  pisa-proxy/proxy/src/proxy.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: bug, size/S, pisa-proxy

#45 fix(configs): fix serde json type of duration to u64 in pisa-proxy
  pisa-proxy/plugin/src/config.rs
Labels: bug, size/XS, pisa-proxy

#46 fix(ci): using release for cargo build
  .github/workflows/rust.yml
Labels: size/XS, ci

#48 chore(Dockerfile): add multi-stage docker build
  pisa-controller/README.md
  pisa-controller/hack/Dockerfile
  pisa-proxy/hack/Dockerfile
Labels: size/M, pisa-controller

#50 chore(Dockerfile): change docker file to fit Makefile
  pisa-controller/hack/Dockerfile
Labels: size/S, pisa-controller

#53 fix(runtime): fix config error db lost connect
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/examples/example-config.toml
  pisa-proxy/protocol/mysql/src/client/stmt.rs
  pisa-proxy/proxy/src/listener/mod.rs
  pisa-proxy/runtime/mysql/src/lib.rs
  pisa-proxy/runtime/mysql/src/server/mod.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: bug, size/M, pisa-proxy

#55 chore(ci): add unit test
  .github/workflows/ci.yml
Labels: size/S, ci

#58 update(config): update version string format
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/cmd/pisa/src/main.rs
Labels: size/XS, pisa-proxy

#59 fix(ci): fix ci variable name
  .github/workflows/ci.yml
Labels: size/XS, pisa-controller, ci

#64 chore(pisa-controller): Update Makefile to add git info for build
  pisa-controller/Makefile
Labels: size/S, build

#60 feat(build image): new ci for build docker image on push master && release
  .github/workflows/build.yml
Labels: size/M, ci

#62 feat(readme，shortname): add short name for CRD,add readme
  charts/pisa-controller/crds/core.database-mesh.io_databaseendpoints.yaml
  charts/pisa-controller/crds/core.database-mesh.io_trafficstrategies.yaml
  charts/pisa-controller/crds/core.database-mesh.io_virtualdatabases.yaml
  pisa-controller/README.md
  pisa-proxy/README.md
Labels: documentation, size/M, deploy

#65 feat(runtime): add lru for ast cache
  pisa-proxy/Cargo.lock
  pisa-proxy/runtime/common/Cargo.toml
  pisa-proxy/runtime/common/src/ast_cache.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/mod.rs
Labels: size/M, pisa-proxy, runtime

#66 docs(readme, observability): add roadmap and fix links
  README.md
  docs/docs/Features/observability.md
  docs/static/img/grafana.jpg
Labels: size/M, docs

#67 chore(ci): add unit test for golang and rust
  .github/workflows/ci.yml
Labels: size/M, ci

#69 parser: support parse show databases
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M

#74 parser:support parse show tables
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M

#77 Introduced a basic integration test workflow
  .github/workflows/integration.yml
  .github/workflows/unit-test.yml
  test/kubernetes/app.yml
  test/kubernetes/databaseendpoint.yml
  test/kubernetes/mysql.yml
  test/kubernetes/run.sh
  test/kubernetes/test.sql
  test/kubernetes/trafficstrategy.yml
  test/kubernetes/virtualdatabase.yml
Labels: size/L, ci

#76 docs(sql-circuit-break): sql circuit break docs
  docs/docs/Features/sql-circuit-breaker-and-concurrency-control.md
Labels: size/S, docs

#78 refactor(protocol): refactor column_type and column_flag in mysql const
  pisa-proxy/protocol/mysql/src/mysql_const.rs
Labels: size/L, refactor, pisa-proxy, protocol

#79 fix(protocol): fix failure to run unit tests for codec
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/proxy/pool/src/conn_pool.rs
Labels: size/S, pisa-proxy, protocol, unittest

#80 feat(protocol): support parse column
  pisa-proxy/protocol/mysql/src/client/column.rs
  pisa-proxy/protocol/mysql/src/client/mod.rs
  pisa-proxy/protocol/mysql/src/client/resultset.rs
  pisa-proxy/protocol/mysql/src/util.rs
Labels: size/L, pisa-proxy, protocol

#82 Refactor(metrics): introduce MetricsManager and MetricsCollector for future refactoring
  pisa-proxy/Cargo.lock
  pisa-proxy/app/metrics/Cargo.toml
  pisa-proxy/app/metrics/src/metrics.rs
  pisa-proxy/cmd/pisa/Cargo.toml
  pisa-proxy/cmd/pisa/src/main.rs
  pisa-proxy/http/Cargo.toml
  pisa-proxy/http/src/http.rs
  pisa-proxy/runtime/mysql/Cargo.toml
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/mod.rs
Labels: enhancement, size/L, refactor, pisa-proxy, runtime, http, metrics

#84 docs: add first blog
  docs/blog/2022-04-25-greetings.md
  docs/static/img/pisanix-arch-blog.png
  docs/static/img/socks-shop.png
Labels: documentation, size/L, docs

#83 docs: add standalone deployment steps
  docs/docs/UseCases/standalone.md
Labels: size/S, docs

#85 refactor(runtime): using macro to build metrics
  pisa-proxy/app/metrics/src/metrics.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/proxy/src/listener/mod.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/metrics.rs
  pisa-proxy/runtime/mysql/src/server/mod.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: size/XXL, refactor, pisa-proxy, runtime, metrics

#94 Feat(parser): support TCL statements parsing
  pisa-proxy/parser/mysql/src/ast/api.rs
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/ast/tcl.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/L, pisa-proxy, parser

#95 feat(config): add read write splitting config
  pisa-proxy/Cargo.lock
  pisa-proxy/Cargo.toml
  pisa-proxy/examples/example-config.toml
  pisa-proxy/protocol/codegen/src/mysql_codec.rs
  pisa-proxy/protocol/mysql/src/client/mod.rs
  pisa-proxy/protocol/mysql/src/mysql_const.rs
  pisa-proxy/protocol/mysql/src/util.rs
  pisa-proxy/proxy/Cargo.toml
  pisa-proxy/proxy/src/proxy.rs
  pisa-proxy/proxy/strategy/src/config.rs
  pisa-proxy/proxy/strategy/src/lib.rs
  pisa-proxy/proxy/strategy/src/strategy.rs
Labels: size/L, pisa-proxy

#96 update(strategy): update read write splitting config
  pisa-proxy/Cargo.lock
  pisa-proxy/examples/example-config.toml
  pisa-proxy/proxy/strategy/src/config.rs
Labels: size/S, pisa-proxy

#98 fix(parser): fix global is None in ast when parsing statements
  pisa-proxy/parser/mysql/src/lex.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: bug, size/S, pisa-proxy, parser

#99 refactor(loadbalance):change loadbalance dynamic dispatch from dyn to enum
  pisa-proxy/proxy/loadbalance/src/balance.rs
  pisa-proxy/proxy/src/proxy.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/M, pisa-proxy

#101 feat(protocol): add handling for `set` statetment
  pisa-proxy/parser/mysql/src/parser.rs
  pisa-proxy/protocol/mysql/Cargo.toml
  pisa-proxy/protocol/mysql/src/charset.rs
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/server/conn.rs
  pisa-proxy/proxy/pool/src/conn_pool.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/XL, pisa-proxy, protocol

#103 Feat(parser): support create database
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/L

#104 fix(parser): fix parsing `identifer.identifer` failed
  pisa-proxy/parser/mysql/src/lex.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: bug, size/S, pisa-proxy, parser

#105 fix(protocol): fix typo in mysql_const, fix shell output color for Makefile
  pisa-proxy/Makefile
  pisa-proxy/protocol/mysql/src/mysql_const.rs
Labels: size/XS, pisa-proxy, protocol, build

#106 refactor(runtime): using builder for mysql server
  pisa-proxy/Cargo.lock
  pisa-proxy/proxy/endpoint/src/endpoint.rs
  pisa-proxy/proxy/loadbalance/src/balance.rs
  pisa-proxy/proxy/src/proxy.rs
  pisa-proxy/proxy/strategy/src/config.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, refactor, pisa-proxy, runtime

#107 refactor(server): using factory for httpserver
  pisa-proxy/Cargo.lock
  pisa-proxy/Cargo.toml
  pisa-proxy/app/api/src/config.rs
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/metrics/src/metrics.rs
  pisa-proxy/app/server/Cargo.toml
  pisa-proxy/app/server/src/backend_const.rs
  pisa-proxy/app/server/src/server.rs
  pisa-proxy/cmd/pisa/src/main.rs
  pisa-proxy/http/src/http.rs
  pisa-proxy/proxy/src/factory.rs
  pisa-proxy/runtime/shardingsphereproxy/Cargo.toml
  pisa-proxy/runtime/shardingsphereproxy/src/lib.rs
  pisa-proxy/runtime/shardingsphereproxy/src/shardingsphereproxy.rs
Labels: size/L, refactor, pisa-proxy, http

#110 Fix(webhook): rename sidecar name to pisa-proxy
  pisa-controller/Makefile
  pisa-controller/cmd/pisa-controller/main.go
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/kubernetes/client.go
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/webhook/injection.go
Labels: size/L, pisa-controller, wehook

#108 feat(strategy): change type of default_target
  pisa-proxy/proxy/strategy/src/config.rs
Labels: size/S, pisa-proxy, config, strategy

#112 Refactor(webhook): rename HOST and PORT to PISA_PROXY_ADMIN_LISTEN_HOST and PISA_PROXY_ADMIN_LISTEN_PORT respectively
  .github/workflows/check-license.yml
  .github/workflows/integration.yml
  pisa-controller/Makefile
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/webhook/injection.go
  pisa-proxy/app/config/src/config.rs
Labels: size/L, refactor, pisa-proxy, pisa-controller, ci, wehook

#115 fix(apiservice): fix issue #34 apiservice json unmarshal error.
  charts/pisa-controller/templates/deployment.yaml
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/webhook/api_check.go
Labels: size/XS, pisa-controller, deploy

#114 Feat(config): Add `server_version` to Pisa-Controller and Pisa-Proxy
  charts/pisa-controller/crds/core.database-mesh.io_virtualdatabases.yaml
  pisa-controller/pkg/kubernetes/types.go
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/proxy/types.go
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/server/src/server.rs
  pisa-proxy/examples/example-config.toml
  pisa-proxy/protocol/mysql/Cargo.toml
  pisa-proxy/protocol/mysql/src/server/conn.rs
  pisa-proxy/proxy/src/listener/mod.rs
  pisa-proxy/proxy/src/proxy.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/shardingsphereproxy/src/shardingsphereproxy.rs
Labels: size/M, pisa-proxy, pisa-controller, config, api, crd

#117 fix(crd): add default host and port to MySQL type VirtualDatabase
  docs/docs/intro.md
  docs/i18n/en/docusaurus-plugin-content-docs/current/intro.md
  pisa-controller/pkg/proxy/config.go
Labels: bug, size/S, pisa-controller, config, crd

#121 feat(crd): update TrafficStrategy to support ReadWriteSplitting
  charts/pisa-controller/crds/core.database-mesh.io_trafficstrategies.yaml
  pisa-controller/pkg/kubernetes/types.go
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/proxy/types.go
  pisa-proxy/app/api/src/config.rs
Labels: size/L, pisa-proxy, pisa-controller, config, api, crd

#120 fix(parser): fix typo `BOLLEAN` in dml.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
Labels: size/XS, pisa-proxy, parser

#119 fix(docs): fix typos in documents and comments
  CONTRIBUTING.md
  README.md
  build.sh
  docs/i18n/en/docusaurus-plugin-content-docs/current/intro.md
  pisa-controller/CONTRIBUTING.md
  pisa-proxy/README.md
  pisa-proxy/protocol/mysql/src/client/column.rs
  pisa-proxy/protocol/mysql/src/server/conn.rs
Labels: documentation, size/S

#123 refactor(config): using regex array in TrafficStrategy
  charts/pisa-controller/crds/core.database-mesh.io_trafficstrategies.yaml
  pisa-controller/pkg/kubernetes/types.go
  pisa-controller/pkg/proxy/types.go
Labels: size/S, pisa-controller, config, api, crd

#124 update(plugin): update circuit_break concurrency_control regex from S…
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/server/src/server.rs
  pisa-proxy/examples/example-config.toml
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/plugin/src/circuit_break/mod.rs
  pisa-proxy/plugin/src/concurrency_control/mod.rs
  pisa-proxy/plugin/src/config.rs
  pisa-proxy/plugin/src/tests/mod.rs
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/proxy/endpoint/src/endpoint.rs
  pisa-proxy/proxy/loadbalance/src/balance.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, pisa-proxy

#126 Feat(docs): update docs for readwritesplitting
  docs/docs/Features/readwritesplitting.md
  docs/docs/Features/sql-circuit-breaker-and-concurrency-control.md
  docs/docs/Features/sql-parser.md
  docs/docs/UseCases/kubernetes.md
Labels: documentation, size/L, pisa-proxy, pisa-controller

#128 chore(docs): add VirtualDatabase CRD use notes
  docs/docs/UseCases/kubernetes.md
Labels: documentation, size/XS

#129 fix(pisa-controller): fix pisa-controller integration test failed
  .github/workflows/integration.yml
  docs/docs/Features/readwritesplitting.md
  pisa-controller/pkg/kubernetes/client.go
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/proxy/types.go
  pisa-controller/pkg/webhook/injection.go
  test/kubernetes/app.yml
Labels: size/L, pisa-controller, ci

#133 chore(helm): update charts version
  charts/pisa-controller/Chart.yaml
  charts/pisa-controller/values.yaml
Labels: size/XS, deploy

#134 fix(strategy): Force forward readwrite backend when set autocommit=0
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/server/conn.rs
  pisa-proxy/proxy/pool/src/conn_pool.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/rule_match.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/static_rw.rs
  pisa-proxy/proxy/strategy/src/route.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, pisa-proxy, strategy

#136 chore(docs): update comments in readwritesplitting example config
  docs/docs/Features/readwritesplitting.md
Labels: documentation, size/XS

#142 fix(it): fix it get imagetag is null
  .github/workflows/integration.yml
Labels: size/XS, ci

#138 Feat(parser): Support show columns from table SQL parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser

#140 fix(parse): fix can't parse `select * from test.test limit 1`
  pisa-proxy/parser/mysql/src/lex.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser

#143 chore(runtime): change runtime ProtocolError to pisa error
  pisa-proxy/protocol/mysql/src/server/conn.rs
  pisa-proxy/protocol/mysql/src/server/packet.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: size/L, pisa-proxy

#144 refactor(runtime, protocol): refactor init_session_attr for fsm
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/server/conn.rs
  pisa-proxy/proxy/pool/src/conn_pool.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, pisa-proxy, runtime, protocol

#146 Fix(runtime): fix get endpoint failed when execute some `set` statement
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: bug, size/M, pisa-proxy, runtime

#150 Feat(parser): support show create table sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/S, pisa-proxy, runtime

#151 chore(ci): update build workflow with tag condition
  .github/workflows/build.yml
Labels: size/XS, ci

#152 chore(runtime): add get_conn error handler
  pisa-proxy/parser/mysql/src/lex.rs
  pisa-proxy/parser/mysql/src/parser.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: size/M, pisa-proxy, runtime

#153 Feat(parser): support show index sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser

#154 chore(protocol): update mysql protocol charset
  pisa-proxy/protocol/mysql/src/charset.rs
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/protocol/mysql/src/server/conn.rs
Labels: size/XXL, pisa-proxy, protocol

#156 Feat(parser): support show variables sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser
