Repository database-mesh/pisanix, pull requests merged in 2022-07, with the labels that each got.

#158 chore(docs, protocol): update role description in docs and comments for charset
  docs/docs/UseCases/kubernetes.md
  pisa-proxy/protocol/mysql/src/charset.rs
Labels: documentation, size/XS, pisa-proxy

#160 Chore(protocol): Fix MySQL OK and EOF protocol length condition.
  pisa-proxy/protocol/mysql/src/util.rs
Labels: size/L, pisa-proxy, protocol

#162 Feat(parser): support show create view sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/S, pisa-proxy, parser

#163 fix: rename serverVersion to server_version
  pisa-controller/pkg/proxy/types.go
Labels: bug, size/XS, pisa-controller

#161 parser:add support for creating view -1
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/grammar.y
Labels: size/L, pisa-proxy, parser

#166 fix(protocol): fix the packet whether is EOF Packet
  pisa-proxy/protocol/mysql/src/util.rs
Labels: bug, size/XS, pisa-proxy, protocol

#165 Feat(parser): add show master status sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/S

#167 refactor(pool): optimize get_conn, use map instead of for loop
  pisa-proxy/Cargo.lock
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/server/conn.rs
  pisa-proxy/protocol/mysql/src/util.rs
  pisa-proxy/proxy/pool/Cargo.toml
  pisa-proxy/proxy/pool/src/conn_pool.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: enhancement, size/L, refactor, pisa-proxy

#169 Feat(parser): add show create user/procedure/trigger/function/event sql parser.
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser

#171 fix(runtime): add reset transaction fsm after get set names command
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: bug, size/XS, pisa-proxy

#174 fix(parser): fix parse set transfaction statement failed
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: bug, size/XS, pisa-proxy, parser

#176 Refactor(config): introduce builder and kubernetes resource helper to PisaProxyConfig
  pisa-controller/pkg/kubernetes/resources.go
  pisa-controller/pkg/kubernetes/types.go
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/config.go
  pisa-controller/pkg/proxy/http.go
  pisa-controller/pkg/proxy/types.go
Labels: size/XL, refactor, pisa-controller, config

#177 fix(ci): fix ci check-license not found docker file
  .github/workflows/check-license.yml
Labels: size/XS, ci

#178 fix(controller): fix backendType, abeplist, json, loglevel
  pisa-controller/pkg/kubernetes/resources.go
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/http.go
  pisa-controller/pkg/webhook/injection.go
  pisa-proxy/app/config/src/config.rs
Labels: bug, size/L, refactor, pisa-proxy, pisa-controller, config

#179 fix(docs): fix dev meetings schedule
  README.md
  docs/docs/intro.md
  docs/i18n/en/docusaurus-plugin-content-docs/current/intro.md
  docs/versioned_docs/version-v0.1.0/intro.md
  docs/versioned_docs/version-v0.1.1/intro.md
Labels: documentation, size/S

#181 Feat(parser): add show engines, plugins, privileges sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser

#183 Feat(parser): add show processlist, replicas sql parser.
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser

#182 refactor(config): refactor PisaProxyConfig
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/server/src/server.rs
  pisa-proxy/cmd/pisa/src/main.rs
  pisa-proxy/http/src/controllers/version.rs
  pisa-proxy/http/src/http.rs
  pisa-proxy/proxy/src/proxy.rs
Labels: size/L, pisa-proxy, config

#184 fix(config): fix common config unset issue
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/server/src/server.rs
  pisa-proxy/cmd/pisa/src/main.rs
  pisa-proxy/http/src/controllers/version.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: bug, size/L, refactor, pisa-proxy, config

#185 Feat(parser): add show replica status sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, pisa-proxy, parser

#187 Feat(parser): add show grants sql parser.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M

#188 refactor(loadbalance): change lb next method return Endpoint with ownership
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/proxy/loadbalance/src/balance.rs
  pisa-proxy/proxy/loadbalance/src/random_weighted.rs
  pisa-proxy/proxy/loadbalance/src/roundrobin_weighted.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/static_rw.rs
  pisa-proxy/proxy/strategy/src/route.rs
Labels: size/M, pisa-proxy

#190 feat(subcommand): add subcommand `sidecar` and `daemon` to Pisa-Proxy
  pisa-controller/pkg/webhook/injection.go
  pisa-proxy/Cargo.lock
  pisa-proxy/app/config/Cargo.toml
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/http/src/controllers/version.rs
Labels: size/L, refactor, pisa-proxy, config

#192 ci: golang code coverage and integrate Codecov
  .github/workflows/code-coverage.yml
Labels: enhancement, size/M, ci

#193 runtime:mysql:transaction_fsm: add test for transaction_fsm
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/M, pisa-proxy, runtime

#195 refctor(config): Simplify config
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/config/src/env_const.rs
  pisa-proxy/app/config/src/lib.rs
  pisa-proxy/cmd/pisa/src/main.rs
Labels: size/L, refactor, pisa-proxy, config

#199 Feat(pisa-proxy, protocol): support parsing `resultset row` for mysql protocol
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/client/mod.rs
  pisa-proxy/protocol/mysql/src/column.rs
  pisa-proxy/protocol/mysql/src/err.rs
  pisa-proxy/protocol/mysql/src/lib.rs
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/protocol/mysql/src/util.rs
  pisa-proxy/protocol/mysql/src/value.rs
Labels: size/L, pisa-proxy, protocol

#198 Feat(parser): add create index stmt sql parser.
  pisa-proxy/parser/mysql/src/ast/base.rs
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/XL, pisa-proxy, parser

#202 refactor parsing resultset row
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/column.rs
  pisa-proxy/protocol/mysql/src/lib.rs
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/protocol/mysql/src/util.rs
Labels: size/L, pisa-proxy, protocol

#205 Feat(parser): add create log file group sql parser.
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/L

#207 fix(example): fix example regex string to slice
  example/config-sample.yaml
Labels: deploy

#206 Chore(parser): fix some code variable name.
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/M, parser

#208 feat(config): add config support for dynamic readwrite splitting
  charts/pisa-controller/crds/core.database-mesh.io_trafficstrategies.yaml
  pisa-controller/pkg/kubernetes/types.go
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/types.go
Labels: size/L, pisa-controller, config

#209 fix(strategy): add monitor channel unwrap handle
  pisa-proxy/proxy/strategy/src/discovery/monitor_reconcile.rs
Labels: size/L, pisa-proxy, strategy
