Repository database-mesh/pisanix, pull requests merged in 2022-08, with the labels that each got.

#210 Reinit pisa daemon
  .licenserc.yaml
  pisa-daemon/Cargo.lock
  pisa-daemon/Cargo.toml
  pisa-daemon/app/config/Cargo.toml
  pisa-daemon/app/config/src/config.rs
  pisa-daemon/app/config/src/lib.rs
  pisa-daemon/app/traffic_qos/Cargo.toml
  pisa-daemon/app/traffic_qos/src/lib.rs
  pisa-daemon/app/traffic_qos/src/tc.rs
  pisa-daemon/bpf/Cargo.toml
  pisa-daemon/bpf/headers/bpf_endian.h
  pisa-daemon/bpf/headers/bpf_helper_defs.h
  pisa-daemon/bpf/headers/bpf_helpers.h
  pisa-daemon/bpf/src/lib.rs
  pisa-daemon/bpf/src/load.rs
  pisa-daemon/bpf/tc/app.c
  pisa-daemon/src/main.rs
  pisa-daemon/tc/Cargo.toml
  pisa-daemon/tc/src/lib.rs
  pisa-daemon/tc/src/macros.rs
  pisa-daemon/tc/src/tc.rs
Labels: size/XXL, pisa-daemon

#211 feat(docs): add dynamic read write splitting docs
  docs/docs/Features/readwritesplitting.md
  docs/docs/UseCases/standalone.md
  pisa-proxy/proxy/strategy/src/config.rs
Labels: size/L, pisa-proxy

#213 chore(strategy): optimize rules match dispatch
  pisa-proxy/proxy/endpoint/src/endpoint.rs
  pisa-proxy/proxy/strategy/src/config.rs
  pisa-proxy/proxy/strategy/src/discovery/monitor_reconcile.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/dynamic_rw.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/mod.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/rule_match.rs
Labels: size/M, pisa-proxy, strategy

#215 feat(pisa-proxy, runtime): add rebuild_conn for broken conn in pool.
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/client/stream.rs
  pisa-proxy/proxy/pool/src/conn_pool.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/M, pisa-proxy, runtime

#214 chore(docs): add pisanix v0.2.0 version docs
  docs/docs/UseCases/standalone.md
  docs/package-lock.json
Labels: documentation, size/M

#216 chore(pisa-proxy, strategy): remove unessary clone, remove unused import
  pisa-proxy/proxy/strategy/src/discovery/monitor_reconcile.rs
  pisa-proxy/proxy/strategy/src/monitors/connect_monitor.rs
  pisa-proxy/proxy/strategy/src/monitors/ping_monitor.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/dynamic_rw.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/S, pisa-proxy, strategy

#217 feat(docs): add version v0.2.0 docs
  docs/versioned_docs/version-v0.2.0/Features/_category_.json
  docs/versioned_docs/version-v0.2.0/Features/loadbalancer.md
  docs/versioned_docs/version-v0.2.0/Features/mysql-protocol.md
  docs/versioned_docs/version-v0.2.0/Features/observability.md
  docs/versioned_docs/version-v0.2.0/Features/readwritesplitting.md
  docs/versioned_docs/version-v0.2.0/Features/sql-circuit-breaker-and-concurrency-control.md
  docs/versioned_docs/version-v0.2.0/Features/sql-parser.md
  docs/versioned_docs/version-v0.2.0/UseCases/_category_.json
  docs/versioned_docs/version-v0.2.0/UseCases/kubernetes.md
  docs/versioned_docs/version-v0.2.0/UseCases/standalone.md
  docs/versioned_docs/version-v0.2.0/intro.md
  docs/versioned_docs/version-v0.2.0/quickstart.md
  docs/versioned_sidebars/version-v0.2.0-sidebars.json
  docs/versions.json
Labels: documentation, size/XXL

#219 chore(charts): update version from v0.1.1 to v0.2.0
  charts/pisa-controller/Chart.yaml
  charts/pisa-controller/values.yaml
Labels: size/XS, deploy

#220 chore(strategy): update read only check in replication lag monitor
  pisa-proxy/proxy/strategy/src/monitors/replication_lag_monitor.rs
Labels: size/S, pisa-proxy

#221 fix: fix tls in webhook
  pisa-controller/cmd/pisa-controller/http/http.go
  pisa-controller/cmd/pisa-controller/webhook/webhook.go
Labels: bug, size/S, pisa-controller

#223 fix(configs): fix injected envs in pisa-proxy
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/config/src/env_const.rs
Labels: bug, size/M, pisa-proxy, config

#222 fix(strategy): fix retries reset
  pisa-proxy/proxy/strategy/src/monitors/connect_monitor.rs
  pisa-proxy/proxy/strategy/src/monitors/ping_monitor.rs
  pisa-proxy/proxy/strategy/src/monitors/read_only_monitor.rs
Labels: size/S, pisa-proxy

#225 fix(docs): fix kubernetes config
  docs/docs/Features/readwritesplitting.md
  docs/versioned_docs/version-v0.2.0/Features/readwritesplitting.md
Labels: documentation, size/S, pisa-proxy

#228 test(config): add test for proxy config
  pisa-controller/go.mod
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/types.go
Labels: size/L, unittest

#229 chore(docs): update readme
  README.md
Labels: documentation, size/S

#231 test(config): add test for PisaProxyConfig
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/http.go
  pisa-controller/pkg/proxy/http_test.go
  pisa-controller/pkg/proxy/types.go
Labels: size/L, unittest

#230 fix(runtime): add accept connect check.
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/proxy/strategy/src/discovery/monitor_reconcile.rs
  pisa-proxy/proxy/strategy/src/monitors/ping_monitor.rs
  pisa-proxy/proxy/strategy/src/monitors/replication_lag_monitor.rs
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/M, pisa-proxy

#232 fix(docs): fix readme links
  README.md
Labels: documentation, size/XS

#233 fix(docs): fix badge in readme
  README.md
Labels: documentation, size/XS

#234 refactor(webhook): refactor sidecar injection
  pisa-controller/pkg/webhook/injection.go
  pisa-controller/pkg/webhook/injection_test.go
  pisa-controller/pkg/webhook/server.go
  pisa-controller/pkg/webhook/types.go
Labels: size/L

#236 test(injection): add unit test
  pisa-controller/pkg/webhook/injection.go
  pisa-controller/pkg/webhook/injection_test.go
  pisa-controller/pkg/webhook/types.go
Labels: size/L, pisa-controller, unittest

#237 refactor(injection): using a typed struct for injection
  pisa-controller/pkg/webhook/injection.go
  pisa-controller/pkg/webhook/injection_test.go
  pisa-controller/pkg/webhook/types.go
Labels: size/L, pisa-controller

#239 chore(injection): clean const podsSidecarPatch
  pisa-controller/pkg/webhook/types.go
Labels: size/M

#241 docs(blog): add release blog
  docs/blog/2022-06-28-release-v011.md
  docs/blog/2022-08-08-release-v022.md
  docs/static/img/release-v020-1.png
Labels: documentation, size/L

#244 chore(cargo): deduplicated crates of tracing-subscriber
  pisa-proxy/Cargo.lock
  pisa-proxy/app/api/Cargo.toml
  pisa-proxy/app/config/Cargo.toml
  pisa-proxy/app/metrics/Cargo.toml
  pisa-proxy/app/server/Cargo.toml
  pisa-proxy/cmd/pisa/Cargo.toml
  pisa-proxy/error/Cargo.toml
  pisa-proxy/http/Cargo.toml
  pisa-proxy/parser/Cargo.toml
  pisa-proxy/parser/mysql/Cargo.toml
  pisa-proxy/plugin/Cargo.toml
  pisa-proxy/protocol/mysql/Cargo.toml
  pisa-proxy/proxy/Cargo.toml
  pisa-proxy/proxy/endpoint/Cargo.toml
  pisa-proxy/proxy/loadbalance/Cargo.toml
  pisa-proxy/proxy/strategy/Cargo.toml
  pisa-proxy/runtime/common/Cargo.toml
  pisa-proxy/runtime/mysql/Cargo.toml
  pisa-proxy/runtime/shardingsphereproxy/Cargo.toml
  pisa-proxy/version/Cargo.toml
Labels: size/L, pisa-proxy

#243 feat(strategy): support generic read write splitting
  pisa-proxy/Cargo.lock
  pisa-proxy/proxy/loadbalance/src/balance.rs
  pisa-proxy/proxy/loadbalance/src/random_weighted.rs
  pisa-proxy/proxy/loadbalance/src/roundrobin_weighted.rs
  pisa-proxy/proxy/strategy/Cargo.toml
  pisa-proxy/proxy/strategy/src/config.rs
  pisa-proxy/proxy/strategy/src/lib.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/dynamic_rw.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/mod.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/rule_match.rs
Labels: size/L, pisa-proxy, strategy

#245 feat(pisa-proxy, parser): add simd to upper char in lex.rs
  pisa-proxy/parser/mysql/src/lex.rs
Labels: enhancement, size/L, pisa-proxy, parser

#218 Feat(parser): add create user sql parser.
  pisa-proxy/parser/mysql/src/ast/dal.rs
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/XL

#246 chore(docs): add generic config docs
  docs/docs/Features/readwritesplitting.md
  docs/docs/UseCases/standalone.md
  pisa-proxy/Cargo.lock
Labels: documentation, size/M, pisa-proxy

#248 style(docs): format docs
  docs/docs/Features/readwritesplitting.md
  docs/docs/UseCases/standalone.md
Labels: documentation, size/XS, pisa-proxy

#247 refactor(controller): using golang-sdk instead of in tree kubernetes types
  pisa-controller/cmd/pisa-controller/main.go
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/kubernetes/client.go
  pisa-controller/pkg/kubernetes/resources.go
  pisa-controller/pkg/kubernetes/types.go
  pisa-controller/pkg/proxy/builder.go
  pisa-controller/pkg/proxy/http.go
Labels: size/L, refactor, pisa-controller

#251 feat(config): support genric type in static rules
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/kubernetes/resources.go
  pisa-controller/pkg/proxy/types.go
  pisa-controller/pkg/webhook/injection.go
  pisa-controller/pkg/webhook/server.go
Labels: bug, enhancement, size/S, pisa-controller

#254 Feat(parser): Support show status sql parser
  pisa-proxy/parser/mysql/src/ast/dal.rs
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/ast/mod.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/S

#256 fix(controller): fix unit test dependency and dbeplist
  pisa-controller/pkg/proxy/builder_test.go
  pisa-controller/pkg/proxy/http.go
  pisa-controller/pkg/proxy/http_test.go
Labels: bug, size/L, pisa-controller

#258 feat(aws): init AWS CloudWatch
  pisa-proxy/Cargo.lock
  pisa-proxy/Cargo.toml
  pisa-proxy/audit/aws/Cargo.toml
  pisa-proxy/audit/aws/src/aws.rs
  pisa-proxy/audit/aws/src/lib.rs
Labels: size/L, pisa-proxy

#259 Feat(parser): add create tablespace sql parser.
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/parser.rs
Labels: enhancement, size/XL, pisa-proxy, parser

#260 fix(lexer): using a general macro for m1 target
  pisa-proxy/parser/mysql/src/lex.rs
Labels: size/XS, pisa-proxy, parser

#261 Feat(parser): add create undo tablespace & create server sql parser.
  pisa-proxy/parser/mysql/src/ast/ddl.rs
  pisa-proxy/parser/mysql/src/grammar.y
  pisa-proxy/parser/mysql/src/ident.rs
  pisa-proxy/parser/mysql/src/parser.rs
Labels: size/L

#262 feat(pisa-proxy, protocol): add get_inner for local_stream to get underlying io
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/protocol/mysql/src/client/stream.rs
  pisa-proxy/protocol/mysql/src/server/stream.rs
Labels: size/L, pisa-proxy, protocol

#263 feat(pisa-proxy, protocol): add packet codec
  pisa-proxy/protocol/mysql/src/server/auth.rs
  pisa-proxy/protocol/mysql/src/server/codec.rs
  pisa-proxy/protocol/mysql/src/server/mod.rs
  pisa-proxy/protocol/mysql/src/server/stream.rs
Labels: size/XL, pisa-proxy, protocol

#265 fix(pisa-proxy, protocol): fix typo in mod.rs
  pisa-proxy/protocol/mysql/src/server/mod.rs
Labels: size/XS, pisa-proxy, protocol

#264 discovery: support dynamic monitor switch
  pisa-proxy/proxy/strategy/src/config.rs
  pisa-proxy/proxy/strategy/src/discovery/discovery.rs
  pisa-proxy/proxy/strategy/src/discovery/monitor_reconcile.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/dynamic_rw.rs
Labels: size/L

#272 fix(pisa-proxy, protocol): fix license typo
  pisa-proxy/protocol/mysql/src/server/auth.rs
Labels: size/XS, pisa-proxy, protocol

#276 fix(pisa-proxy,parser): fix incorrect when format PARTATION and LIMIT
  pisa-proxy/parser/mysql/src/ast/dml.rs
Labels: bug, size/S, pisa-proxy, parser

#275 fix(pisa-proxy, protocol): remove 4 byte header when use PacketSend::Encode
  pisa-proxy/runtime/mysql/src/mysql.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
Labels: bug, size/S, pisa-proxy, runtime

#277 feat(sharding): add sharding config
  pisa-proxy/proxy/src/proxy.rs
  pisa-proxy/proxy/strategy/src/config.rs
Labels: size/M, pisa-proxy, strategy, sharding

#279 feat(pisa-proxy, protocol): add encode for ok packet
  pisa-proxy/protocol/mysql/src/client/auth.rs
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/server/auth.rs
  pisa-proxy/protocol/mysql/src/server/codec.rs
  pisa-proxy/protocol/mysql/src/util.rs
Labels: size/L, pisa-proxy, protocol

#278 feat(pisa-proxy, parser): optimzie query ast struct
  pisa-proxy/parser/mysql/src/ast/dml.rs
  pisa-proxy/parser/mysql/src/grammar.y
Labels: size/L

#280 fix(pisa-proxy, ptotocol): fix decode field is null
  pisa-proxy/protocol/mysql/src/column.rs
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/protocol/mysql/src/util.rs
  pisa-proxy/protocol/mysql/src/value.rs
  pisa-proxy/proxy/src/proxy.rs
  pisa-proxy/proxy/strategy/src/discovery/monitor_reconcile.rs
  pisa-proxy/proxy/strategy/src/monitors/read_only_monitor.rs
  pisa-proxy/proxy/strategy/src/monitors/replication_lag_monitor.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/dynamic_rw.rs
  pisa-proxy/proxy/strategy/src/readwritesplitting/rule_match.rs
Labels: bug, size/L, pisa-proxy, protocol

#281 Feat(pisa-proxy, protocol): Add decode for resultset row binary protocol
  pisa-proxy/protocol/mysql/src/client/codec.rs
  pisa-proxy/protocol/mysql/src/err.rs
  pisa-proxy/protocol/mysql/src/macros.rs
  pisa-proxy/protocol/mysql/src/row.rs
  pisa-proxy/protocol/mysql/src/value.rs
Labels: size/L, pisa-proxy, protocol
