Repository database-mesh/pisanix, pull requests merged in 2023-01, with the labels that each got.

#399 feat: support AWS RDS Cluster in VirtualDatabase and DatabaseChaos
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/controllers/database_chaos.go
  pisa-controller/pkg/controllers/virtualdatabase.go
Labels: type:enhancement, size/L, app:pisa-controller, in:crd

#401 chore: update rust-toolchain to nightly
  pisa-proxy/rust-toolchain
Labels: type:enhancement, size/XS, app:pisa-proxy, in:build

#402 refactor(controller): introduce AWS rds client to VirtualDatabase and DatabaseChaos controller
  pisa-controller/cmd/pisa-controller/controller-manager/manager.go
  pisa-controller/go.mod
  pisa-controller/go.sum
  pisa-controller/pkg/aws/rds.go
  pisa-controller/pkg/controllers/database_chaos.go
  pisa-controller/pkg/controllers/virtualdatabase.go
Labels: size/M, type:refactor, app:pisa-controller

#403 refactor(http): use axum instead of rocket, use prometeus instand of rocket_prometheus
  pisa-proxy/app/api/src/config.rs
  pisa-proxy/app/config/Cargo.toml
  pisa-proxy/app/config/build.rs
  pisa-proxy/app/config/src/config.rs
  pisa-proxy/app/config/src/env_const.rs
  pisa-proxy/app/metrics/Cargo.toml
  pisa-proxy/app/metrics/src/metrics.rs
  pisa-proxy/app/server/Cargo.toml
  pisa-proxy/cmd/pisa/Cargo.toml
  pisa-proxy/cmd/pisa/src/main.rs
  pisa-proxy/error/Cargo.toml
  pisa-proxy/error/src/error.rs
  pisa-proxy/http/Cargo.toml
  pisa-proxy/http/src/controllers/healthz.rs
  pisa-proxy/http/src/controllers/mod.rs
  pisa-proxy/http/src/controllers/version.rs
  pisa-proxy/http/src/http.rs
  pisa-proxy/http/src/lib.rs
  pisa-proxy/runtime/mysql/Cargo.toml
  pisa-proxy/runtime/mysql/src/server/metrics.rs
Labels: size/L

#404 fix(build): fix docker build faield since use rust nightly version
  .github/workflows/unit-test.yml
  pisa-proxy/hack/Dockerfile
Labels: size/XS, app:pisa-proxy, in:build

#405 fix(version): add vergen to build dependencies
  pisa-proxy/http/src/http.rs
  pisa-proxy/version/Cargo.toml
  pisa-proxy/version/src/version.rs
Labels: size/S, in:http

#406 chore(runtime,protocol): fix cargo warning, update cargo.lock and openssl dependency
  pisa-proxy/Cargo.lock
  pisa-proxy/protocol/mysql/Cargo.toml
  pisa-proxy/protocol/mysql/src/value.rs
  pisa-proxy/runtime/mysql/Cargo.toml
  pisa-proxy/runtime/mysql/src/server/executor.rs
  pisa-proxy/version/src/version.rs
Labels: size/M, in:protocol, in:build

#407 fix(version): add build.rs
  pisa-proxy/version/build.rs
Labels: size/S, app:pisa-proxy, in:build

#408 feat(pool): add retry for get_conn
  pisa-proxy/protocol/mysql/src/client/conn.rs
  pisa-proxy/proxy/pool/Cargo.toml
  pisa-proxy/proxy/pool/src/conn_pool.rs
  pisa-proxy/runtime/mysql/src/server/executor.rs
  pisa-proxy/runtime/mysql/src/server/server.rs
  pisa-proxy/runtime/mysql/src/transaction_fsm.rs
Labels: size/L, app:pisa-proxy, in:protocol

#409 Optimize(protocol): optimize resultset codec renew
  pisa-proxy/protocol/mysql/src/client/resultset.rs
Labels: size/XS, app:pisa-proxy, in:protocol
